
<div id="page">
  <header>
    <h1>Tracey Radcliffe</h1>
    <h3>Aspiring Web Developer</h3>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about" class="current">About</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/code">Code Examples</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </nav>
  </header>

  <div id="content">

    <section id="background">
      <h3>Background</h3>
      <p>A little about me! I grew up here in Washington, in a small town (I emphasize small) somewhere out there on the penninsula.  </p>
    </section>

    <section id="education">
      <h3>Education and work experience</h3>
      <p>I completed my BS in nutrition from Washington State University in Spring of 2010. Afterward, I completed a year long internship required to become a registered dietitian. Through this internship, I realized while I loved learning about nutrition and the biological reactions, the application of nutrition in the real world did not interest me. I took a job at a nutrition software company. During my time in this company, we created a new web app. I was able to complete a lot of front end web testing, and get a peak into how creating a website works. And it peaked my interest. So in Spring of 2015 I started a basic programming course with Code Fellows, and I found I loved creating new websites. I love the challenges that comes with not just the creation of websites, but also with the fixing and debugging.
      </p>
    </section>

    <section>
      <h3>Passions and Interests</h3>
      <p>One thing you can almost always find on me is a book. I love to read. Whether I am reading to learn a new skill, or just a fiction book full of adventure and interest, I try always keeping a book with me. I will read just about anything, from fiction and mystery to education and literary classics. Some of my favorite authors include Jane Austin, Michael Pollan, J.R.R Tolkien, and J.K. Rowling.</p>
      <p> My biggest passion is traveling. I love exploring new places, learning about different cultures, and experiencing how different people live throughout the world. At this point in my life, I have done extensive traveling in Europe, including transversing the Alps, experiencing major cities, and road tripping through Ireland. My next travels are this fall, exploring and learning about the Basque region. And afterward, a road trip through England and Scotland. </p>
      <p>I am also interested in photography. I love wandering a new or well traveled area, and taking photos of everything around me. Here is a collection of photos from my travels. </p>
      \* Enter photos Here *\
    </section>

    <section>
      <h3> What's Next</h3>
      <p>Since finishing my courses in August 2015 with Code Fellows, I have dabbled a bit with programming. Now I am looking to get back into school full time, to give me the structure and accountability that comes with classes, teachers, and other students.</p>
    </section>
  </div>

</div>

