<head>
  <style type="text/css">

  </style>

  <script>
  function Question(question, answer1, answer2, answer3, answer4, correctAnswer) {
    this.question = question;
    this.answer1 = answer1;
    this.answer2 = answer2;
    this.answer3 = answer3;
    this.answer4 = answer4;
    this.correctAnswer = correctAnswer;
    console.log("created");
  }
  var numquestions = 4;
  var questions = [];

  var questionOne = new Question("In Doctor Who, what does TARDIS Stand for?", "Time and Revolving Distance In Space ", "Time And Relative Dimensions In Space", "Time And Relative Distance In Space", "Time And Revolving Distance In Space", "Time And Relative Dimensions In Space");

  var questionTwo = new Question("In Harry Potter, what was the Patronus of Luna Lovegood?", "Stag", "Otter", "Bear", "Rabbit", "Rabbit");

  var questionThree = new Question("In the book 'The Fellowship of The Rings', what gift does Galadriel give Gimlie?", "A pint crafted from wood", "Three strands of her hair", "A dagger", "Elvish rope", "Three strands of her hair");

  var questionFour = new Question("In Jane Austens 'Pride and Prejudice', what is Mr. Darcys first name?", "William", "Fitzwilliam", "Mark", "George", "Fitzwilliam");

  questions.push(questionOne, questionTwo, questionThree, questionFour);

  function printQuestion(question) {
    var title = document.getElementById('question-title');
    var answer1 = document.getElementById('answer-1');
    var answer2 = document.getElementById('answer-2');
    var answer3 = document.getElementById('answer-3');
    var answer4 = document.getElementById('answer-4');

    title.innerHTML = question.question;
    answer1.innerHTML = question.answer1;
    answer2.innerHTML = question.answer2;
    answer3.innerHTML = question.answer3;
    answer4.innerHTML = question.answer4;
  }


  function checkAnswer(question, answer) {
    if (answer === question.correctAnswer) {
        alert("Correct");
        return true;
    } else {
        alert("false");
        return false;
      }

  }



  window.onload = function() {
    var currentQuestion = 0;
    printQuestion(questions[currentQuestion]);
    var checkingAnswer = document.getElementsByClassName('answer');
    for(var i = 0; i < checkingAnswer.length; i++) {
      if(checkingAnswer[i].addEventListener) {
        checkingAnswer[i].addEventListener('click', function(){checkAnswer(questions[currentQuestion], this.innerHTML)}, false);
      }

        console.log(document.getElementById('answer-' + (i+1)).innerHTML);
    }

    var nextQ = document.getElementById('quizbtn');
    nextQ.addEventListener('click', function() {
      if (currentQuestion + 1 < numquestions) {
        currentQuestion++;
        printQuestion(questions[currentQuestion]);
        // console.log(currentQuestion);
      } else if (currentQuestion + 1 === numquestions) {
          alert("You have reached the end of the quiz. Thanks for playing");
      }
    }, true);

      };
  </script>


</head>

<body>


  <div id="header">
    <header>
      <h1>Tracey Radcliffe</h1>
      <h3>Aspiring Web Developer</h3>
      <nav>
        <ul class="pagetop">
          <li class="heading"><a href="/">Home</a></li>
          <li class="heading"><a href="/about">About</a></li>
          <li class="heading"><a href="" class="incomplete" >Resume</a></li>
          <li class="heading"><a href="/code" class="current">Code Example</a></li>
          <li class="heading"><a href="/contact">Contact Me</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div id='quiz'>
    <h1 id='quizheading'>Welcome to Trivia</h1>
    <p id='quizdesc'> This is just a small quiz featuring questions from various forms of fiction and TV that I love.
    <h2 id="question-title">Question 1</h2>
    <p id="answer-1" class="answer">Answer 1</p>
    <p id="answer-2" class="answer">Answer 2</p>
    <p id="answer-3" class="answer">Answer 3</p>
    <p id="answer-4" class="answer">Answer 4</p>
    <button type="button" id="quizbtn">Next</button>
  </div>

</body>
