<head>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/contactform.css">
</head>

<div id="header">
  <header>
    <h1>Tracey Radcliffe</h1>
    <h3>Aspiring Web Developer</h3>
    <nav>
      <ul class="pagetop">
        <li class="heading"><a href="/">Home</a></li>
        <li class="heading"><a href="/about">About</a></li>
        <li class="heading"><a href="" class="incomplete" >Resume</a></li>
        <li class="heading"><a href="/code">Code Example</a></li>
        <li class="heading"><a href="/contact" class="current">Contact Me</a></li>
      </ul>
    </nav>
  </header>
</div>

<div>
  <h2>Contact Me</h2>
  <p>Use the form below to send me a message </p>
  <p>Please note, this form is not quite ready to use. Everything but the submit button is functioning properly.</p>
</div>

<form action="MAILTO:radcliffe.tracey@gmail.com" method="post" id="form">
  <div>
    <label for="name">Your Name:</label>
    <input type="text" id="name" />
  </div>

  <div>
    <label for="mail">Your E-mail:</label>
    <input type="email" id="mail" />
  </div>

  <div>
    <label for="msg">Message:</label>
    <textarea id="msg"></textarea>
  </div>

  <div class="button">
    <button type="submit">Send your message</button>
  </div>
</form>
