
<div id="header">
  <header>
    <h1>Tracey Radcliffe</h1>
    <h3>Aspiring Web Developer</h3>
    <nav>
      <ul>
        <li><a href="/" class="current">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/code">Code Examples</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="mainBody">
  <img src="tracey.jpg" alt="Main Body Picture of Home Page For Now" />
</div>

