<html>

<head>
  <style type="text/css">
  </style>

  <script>
  function Question(question, answer1, answer2, answer3, answer4, correctAnswer) {
    this.question = question;
    this.answer1 = answer1;
    this.answer2 = answer2;
    this.answer3 = answer3;
    this.answer4 = answer4;
    this.correctAnswer = correctAnswer;
    console.log("created");
  }
  var numquestions = 4;
  var questions = [];

  var questionOne = new Question("What is the name of my cat?", "Cat", "Minerva", "Dog", "Asshole", "Minerva");



  var questionTwo = new Question("what type of dog is sherwood supposed to be?", "corgi", "pitbull", "loveable mutt", "australian sheppard", "corgi");

  questions.push(questionOne, questionTwo);

  function printQuestion(question) {
    var title = document.getElementById('question-title');
    var answer1 = document.getElementById('answer-1');
    var answer2 = document.getElementById('answer-2');
    var answer3 = document.getElementById('answer-3');
    var answer4 = document.getElementById('answer-4');

    title.innerHTML = question.question;
    answer1.innerHTML = question.answer1;
    answer2.innerHTML = question.answer2;
    answer3.innerHTML = question.answer3;
    answer4.innerHTML = question.answer4;
  }


  function checkAnswer(question, answer) {
    if (answer === question.correctAnswer) {
        alert("Correct");
        return true;
    } else {
        alert("false");
        return false;
      }

  }



  window.onload = function() {
    var currentQuestion = 0;
    printQuestion(questions[currentQuestion]);
    var checkingAnswer = document.getElementsByClassName('answer');
    for(var i = 0; i < checkingAnswer.length; i++) {
      if(checkingAnswer[i].addEventListener) {
        checkingAnswer[i].addEventListener('click', function(){checkAnswer(questions[currentQuestion], this.innerHTML)}, false);
      }

        console.log(document.getElementById('answer-' + (i+1)).innerHTML);
    }

    var nextQ = document.getElementById('quizbtn');
    nextQ.addEventListener('click', function() {
      if (currentQuestion + 1 < numquestions) {
        currentQuestion++;
        // console.log(currentQuestion);
      } else if (currentQuestion + 1 === numquestions) {
          alert("You have reached the end of the quiz. Thanks for playing");
      }
    }, true);

      };
  </script>


</head>

<body>

  <h1>Welcome to Trivia</h1>
  <h2 id="question-title">Question 1</h2>
  <p id="answer-1" class="answer">Answer 1</p>
  <p id="answer-2" class="answer">Answer 2</p>
  <p id="answer-3" class="answer">Answer 3</p>
  <p id="answer-4" class="answer">Answer 4</p>
  <button type="button" id="quizbtn">Next</button>




</html>
